
@charset "UTF-8";
/* CSS Document */
#wrapper{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
header, body, nav {font-family: 'Roboto', sans-serif;
	color: #419639;}
nav {
	font-weight: 600;
font-size: 1.25em;}

footer {font-family: 'Roboto', sans-serif; 
	color: white;
	background-color: #419639;
}
nav a:link, nav a:visited {
	color: #419639;
	text-decoration: none;
}
nav a:focus, nav a:hover {
	text-decoration: underline;
}

a{
	padding-right: 6% ;
	padding-left: 6%;
	align-content:center;
}

.logo_image {max-height: 150px;}
.citrus {max-width: 100%;}
.main-image{
	position: relative;
}

.featurelinks ul li a:link, nav ul li a:visited {
	color: #419639;
	text-decoration: none;
}
.featurelinks ul li a:focus, nav a:hover {
	text-decoration: underline;
}
.featurelinks ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  
}
.featurelinks ul li {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}
.featurelinks ul li a { 	
  display: block; 	
  border-radius: .5em; 	
  padding: .5em 1em; 	
  margin: .5em; 
}


.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 27% 50% 23%;
  gap: 0px 0px;
}
.our-story-nav { grid-area: 1 / 1 / 2 / 2; 
align-items: baseline;}

.careers-nav { grid-area: 1 / 2 / 2 / 3; }

.Publix-logo { grid-area: 1 / 3 / 2 / 4; }

.investors-logo { grid-area: 1 / 4 / 2 / 5; }

.community-logo { grid-area: 1 / 5 / 2 / 6; }

.hero-image { grid-area: 2 / 1 / 3 / 6; }

.nav { grid-area: 1 / 1 / 2 / 6; }

.heading { grid-area: 2 / 3 / 3 / 6; }

.news { grid-area: 3 / 1 / 4 / 3; }

.sustainability { grid-area: 3 / 3 / 4 / 4; }

.awards { grid-area: 3 / 4 / 4 / 6; }

.story-1 { grid-area: 4 / 1 / 6 / 6; }

.story-2 { grid-area: 6 / 1 / 8 / 6; }

.circle-img1 { grid-area: 4 / 1 / 6 / 3; }

.circle-img2 { grid-area: 6 / 1 / 8 / 3; }

.headinglink1 { grid-area: 4 / 3 / 5 / 6; }

.learnmore-1 { grid-area: 5 / 3 / 6 / 4; }

.learnmore2 { grid-area: 7 / 3 / 8 / 4; }

.headinglink2 { grid-area: 6 / 3 / 7 / 6; }

.follow-us-on { grid-area: 8 / 1 / 9 / 6; }

.social-media-icons { grid-area: 9 / 1 / 10 / 6; }

.our-story-footer { grid-area: 10 / 1 / 11 / 2; }

.careers-footer { grid-area: 10 / 2 / 11 / 5; }

.investor-footer { grid-area: 10 / 4 / 11 / 5; }

.Publix-logo-footer { grid-area: 10 / 3 / 11 / 4; }

.community-footer { grid-area: 10 / 5 / 11 / 6; }

.footer { grid-area: 8 / 1 / 11 / 6; }

.nav {align-items: baseline;}